@font-face {
    font-family: Avenir LT,sans-serif;
    src: url("./Avenir.ttf");
  }
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 80%;
  }
  /* body {
    width: fit-content;
  } */
  img{
      width: 100%;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
    /* outline: 1px solid lightgoldenrodyellow; */
    /* font-size: 67.5%; */
  }
  a,a:focus{
    text-decoration: none;
    color: white;
  }
  img{
      width: 200px;
      height: 200px;
  }
  .space
  {
      height: 100px;
      width: 100%;
      background-color: lightseagreen;
  }
  .container
  {
      padding: 0 10px;
      margin: 0 10px;
  }
  .main
{
    height: 100vh;
    /* width: 100vw; */
    background-color: #292828;
}
.heading
{
    /* margin: 1.2rem 0; */
    padding: 2.4rem 0;
    text-align: center;
}
.heading h2
{
    font-family: Avenir LT;
    font-weight: normal;
    letter-spacing: 1px;
    width: auto;
    margin: auto;
    font-size: 2rem;
    color: #eb7768;
}
.tagandText
{
    margin-top: 3rem;

}
.tag{
    margin-bottom: 0.8rem;
}
.tag h2{
    color: #fff;
    font-family: Roboto;
    font-weight: normal;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 3px;
}
.animationText
{
    margin-top: 1rem;
}
.animationText h2{
    font-family: Saira,sans-serif;
    text-align: center;
    font-weight: normal;
    height: 40px;
    font-size: 1rem;
    letter-spacing: 1.2px;
    color: #eb7768;
}
.headline
{
    margin-top: 3rem;
}
.orange
{
    color: #eb7768;
    height: 100px;
}
.headline h1{
    color: #fff;
    font-family: Saira;
    font-size: 1rem;
    text-align: center;
}
.prom{
 
    color: #eb7768;
    text-align: center;
    height: 150px;
}
.prom h2{
    font-size:  2rem;
    font-family: Saira;
    height: auto;
}
.linkText
{
    margin-top: 1rem;
    height: 120px;
    text-align: center;
    
}
.linkText h4{
    color: #fff;
    font-family: Saira;
    letter-spacing: 2px;
  margin-bottom: 1.2em;
 

}
.downBtn
{
width: 40px;
margin: auto;
}
.downBtn  a 
{
    font-size: 2rem;
   color: #eb7768;
}
/* -----------END OF MAIN ------------------- */
.advantage{
    height: 100vh;
    background-color: #292828;
}
.header{
    margin: 2rem 0;
    /* margin-bottom: 2rem; */
}
.header h2{
    padding: 2rem;
    font-family: Avenir LT;
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    color: white;
}
.subheader
{
    margin: 2rem 0;
}
.subheader h2{
    color: white;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
}
 /* ------------------SLIDER -------------------- */
 .slider-wrapper {
    height: auto;

    margin-bottom: 3rem;
  }
  .site-slider {
      border-radius: 2rem;
    background: #5E5E5E;
    position: relative;
    height: 55vh;
    margin: 0 auto;
    width: 90%;
    text-align: center;
  
    display: flex;
    flex-direction: column;
    text-align: center;


  }
  .slide
  {
      /* display: flex;
      flex-direction: column;
      justify-content: space-between; */
max-width: 60%;

  }
 .img{
      /* flex-basis: 75%; */
      height: 55%;
  }
  .img img{
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      width: 100%;
      height: 100%;
     object-fit: cover;
  }
  
  .slideText
  {
    height: 30%;
        border-radius: 40%;
  }
  .slideText h2{
      font-family: Roboto;
      padding: 1rem 2rem;
      color: white;
      font-size: 1.3rem;
      font-weight: normal;
      text-align: left;
     
  }
  .slideText p{
      font-size: 1rem;
      color: white;
      padding: 0 2rem;
      text-align: left;
  }

  
  /* slick dots  */
  .slick-dots {
    z-index: 1;
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 0.5rem 0;
    list-style-type: none;


  }
  
  .slick-dots li {
    margin: 0 1rem;
  }
  
  .slick-dots button {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: white;
    text-indent: -99999px;
    border-radius: 100%;
  }
  
  .slick-dots .slick-active button {
    transform: scale(2.5);
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.205);
  }
  .slick-dots .slick-active button:focus{
      outline: none;
  }
   /* ------------------END OF SLIDER -------------------- */
   
/* -----------END OF RELAY ADVANTAGE ------------------- */
.headerWhite{
    margin: 2rem 0;
    /* margin-bottom: 2rem; */
}
.headerWhite h2{
    padding: 2rem;
    font-family: Avenir LT !important;
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    color: #292828;
}
.cardWrapper {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;

  }
  .card
  {
    /* background-color: #5e5e5e; */
    margin: 0 auto;
    box-shadow: 4px 4px 4px black;
    max-width: 400px;
  }
  .cardContent
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  
  }
  .cardText
  {
    padding: 1rem 0;
   
    text-align: center;
  }
  .cardText h2
  {
    font-size: 1,5rem;
    font-family: Avenir,sans-serif;
    margin-bottom: 0rem;
    font-weight: normal;
    padding: 0 1rem;
    padding-bottom: 1rem;
    color: black;
    height: 50px;
  }
  .cardText p{
    font-size: 1rem;
    color: #292828;
    font-family: Saira;
    letter-spacing: 1px;
    padding-bottom: 2rem;
    height: 60px;
  }
  .card img {
    width: 100%;
    
  }
  
  
  .cardContent button
  {
    
    text-align: center;
    background-color: #eb7768;
    border-radius: 2rem;
    padding: 1rem 2.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    
  }
  
  .cardContent button a{
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
  }
  .image1{
    padding-bottom: 0.5rem;
  }
  
/* -----------END OF RELAY TRACKS ------------------- */

@media only screen and (min-width:434px)
{
   
    
    .heading h2{
        font-size: 2.4rem;
    }
    .tag h2{
        font-size: 1rem;
    }

   .linkText
   {
       /* margin-top: 4rem; */
       font-size: 1rem;
   }
   .prom{
       height: 200px;
   }
   .prom h2{
       font-size: 2.2rem;
   }
  
}
@media only screen and (min-width:600px)
{
    .cardWrapper
    {
        grid-template-columns: repeat(2,1fr);
    }
    .cardText
    {
        height: auto;
    }
    .cardText h2{
        font-size: 1.2rem;
        /* height: 40px; */
        padding-bottom: 1rem;
    }
    .cardContent button
    {
      
      text-align: center;
      background-color: #eb7768;
      border-radius: 2rem;
      padding: 0.5rem 1.4rem;
      margin-bottom: 2rem;
      font-size: 1.2rem;
      
    }
    
    .cardContent button a{
      display: inline-block;
      width: 100%;
      font-size: 1.2rem;
    }

}
@media only screen and (min-width:768px)
{
   
    .cardContent
    {
        margin-top: 2rem;
    }
    .slider-wrapper
    {
        display: none;
    }
    .heading h2{
        font-size: 2.6rem;
    }
    .tag h2{
        font-size: 1.2rem;
    }
    .animationText h2
    {
        font-size: 1.4rem;
    }
    .headline h1{
        font-size: 1.4rem;
    }
    .prom h2{
        font-size: 2.6rem;

    }
    .prom{
        margin-bottom: 4rem;
    }
    .linkText h4
    {
        font-size: 1rem;
    }

}
@media only screen and (min-width:900px)
{
  .cardWrapper
  {
      grid-template-columns: repeat(3,1fr);
  }
.heading h2{
    font-size: 2.8rem;
}
.tag{
    margin-top: 4rem;
}
.tag h2{
    font-size: 1.8rem;
}
.animationText
{
    margin-bottom: 6rem;
}
.animationText h2{
    font-size: 2.6rem;
}
    .headline h1
    {
        font-size: 2rem;
    }
    .prom h2
    {
        font-size: 3rem;
    }
    .linkText
    {
        margin-top: 4rem;

    }
}
@media only screen and (min-width:1100px)
{
  .cardWrapper
  {
      grid-template-columns: repeat(3,1fr);
  }
.heading h2{
    font-size: 3rem;
}
.tag{
    margin-top: 5rem;
}
.tag h2{
    font-size: 1.8rem;
}
.animationText
{
    margin-bottom: 6rem;
}
.animationText h2{
    font-size: 2.6rem;
}
    .headline h1
    {
        font-size: 2.4rem;
    }
    .prom h2
    {
        font-size: 4rem;
    }
    .prom
    {
        margin-bottom: 0.5rem;
    }
    .linkText
    {
        margin-top: 1rem;

    }
    .linkText h4{
        font-size: 1.2rem;
    }
    .downBtn a i{
        font-size: 2rem;
    }
}
  
  